* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

#chat {
    position: absolute;
    width: 100%;
    top: 1em;
    left: 0em;
    right: 0em;
    bottom: 5em;
    overflow-y: scroll;
}

.modal {
  display: block;
  width: 100%;

  margin: 0 auto;
  z-index: 1;

  h4 {
      margin-top: 0px;
  }
}

ul {
    float: left;
    display: inline-block;
    overflow: auto;
    width: 85%;
    list-style-type: none;
    li {
        width: 100%;
        word-wrap: break-word;
        float: left;
    }
    li#user {
        color: #3498DB;
        font-weight: bold;
        margin-bottom:15px;
    }
}

aside {
    position: fixed;
    text-align: right;
    right: 1em;
    width: 10em;
}
textarea {
  position: fixed;
  width: 95%;
  height: 1.875em;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.1em solid lightgray;
  margin: 0em 1em 1em 1em;
  padding: 0.5em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  outline: none;
  resize: none;
}


