* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}



textarea {
  position: fixed;
  width: 95%;
  height: 1.875em;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.1em solid lightgray;
  margin: 0em 1em 1em 1em;
  padding: 0.5em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  resize: none;
}

ul {
    float: left;
    display: inline-block;
    overflow: auto;
    list-style-type: none;
    width: 80%;
    height: 33em;
    li {
        width: 100%;
        word-wrap: break-word;
        float: left;
    }
}

aside {
    margin-top: 1em;
    float: right;
    display: inline-block;
    width: 20%;
}
